

.container_1{
    text-align: center;
    border-top: 30px;
    border-left: 20px;
    border-right: 20px;
    border-bottom: 30px;

}

.container_2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#border{
    border: solid;
}

#border_2{
    border: solid;
    border-top: 2px dotted;
    border-bottom: medium dashed blue;
    border-left: double;
    border-right: transparent;
}

#border_3{
    border: solid;
    border-radius: 20px;
}

#maintitle{
    font-family:'Times New Roman', Times, serif;
    font-size: 34px;
    font-style:italic;
    font-weight: bold;

}

#background-image{
   background-image: url(/wd/front/images/download.jpg);
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    width: 280px;
    height: 180px;
}

#color{
    color: blue;
}

#font{
    font: small-caps bold 24px/1 sans-serif;
}

#list{
    list-style:lower-greek;
}

.margin_center {
    margin: 3rem 0 0 -1.5rem;
  background: cyan;
  width: 66%;
  }
  

  h5 {
    background-color: lime;
    padding: 20px 50px;
  }

  h4{
    width: 8em;
    height: 5em;
    border: dotted;
  }

  .scroll{
    margin: 1em;
  font-size: 1.2em;
  overflow: scroll;
  }

  .container_3{
    display:grid;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }
  
  #two {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
  }

  img {
    border: 5px solid green;
  }
  /* Gray the second image by 40% and blur by 5px */
  img:nth-of-type(2) {
    filter: grayscale(0.4) blur(5px);
  }
  
  

  
  

h3{
    font-weight: 400;
}